.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
tests/testthat/data1
tests/testthat/data2
tests/testthat/models
inst/doc
docs
vignettes/features_cache
vignettes/overview_cache
cran-comments.md
README_cache
